<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA by Iván</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
        <div class="input-group fixed-bottom mb-3 overflow-y-auto" id="menu">
            <img src="../img/robot.png" width="400px" class="rounded mx-auto d-block" id="imagen">
            <div id="Chat">
                <label id="ChatPersona">${mensaje.value}</label>
                <label id="ChatBot">${mensaje.value}</label>
            </div>
            <form id="Form">
                <input type="text" class="form-control" id="persona" placeholder="Que quieres saber?"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button type="button" class="btn btn-outline-info"  id="enviar">Enviar</button>
            </form>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>

</html>
